config bitsrunlogin-go 'config'
	option 'enabled' '0'

	option 'domain' ''
	# ISP type, see https://github.com/Mmx233/BitSrunLoginGo for details
	option 'usertype' 'cmcc'
	option 'username' ''
	option 'password' ''

	option 'enable_https' '0'
	option 'skip_cert_verify' '0'
	# Maximum time allowed for connection
	option 'timeout' '5'
	# Network check interval
	option 'duration' '3600'

	# Interface name in regex, e.g. "eth0\.[2-3]"
	# Multi-interfaces mode will be enabled if not empty
	option 'interfaces' ''
	option 'debug' '0'

